# TODO: break this into seperate files for dev and production dependencies.
# TODO: pin versions
pymysql==0.9.2
aiomysql
databases[mysql]
textblob
aiofiles
ariadne
starlette
uvicorn
sqlalchemy
pylama
mypy
aredis
emoji
requests